* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(118,180,112);
  background: linear-gradient(350deg, rgba(118,180,112,1) 0%, rgba(201,228,200,0.4682247899159664) 50%, rgba(255,255,255,1) 100%);
}

.container {
  display: block;
  width: 100%;
	float: left;
	padding-top: 0px;
}

h1 {
  text-align: center;
}

#formContainer {
  display: block;
  margin: auto;
  padding: 0;
  margin-bottom: 20px;
 
  background-color:rgba(199, 199, 199, 0.7);
  padding: 10px;
  min-width: 300px;
  max-width: 40vw;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;
  min-width: 250px;
  max-width: 30vh;
}

form > div {
  margin: 0 0 5px 0;
  padding: 0;
}

input:not([type='radio']):not([type='checkbox']) {
  min-width: 246px; /* + 4px border = 250px */
  max-width: 50%;
  padding: 0;
  margin: 0;
  height: 30px;
  padding-left: 5px;
}


form > div:not(.checkbox), #spouse > div { /* all divs inside form apart from checkbox go vertically */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#spouseContainer, #childrenContainer, #workingContainer, 
#notWorkingContainer, #studyingContainer {
  background-color:rgba(72,72,72,0.1);
  display: none;
  border-radius: 10px;
  padding: 5px ;
}

#maidenContainer {
  display: none;
}

button {
  font-size: inherit;
  background-color: hsl(155, 100%, 50%);
  padding: .5em 1em;
  margin: .5em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  color: #333;
}

#buttons {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: initial;
}

#contactContainer div, #childrenNames div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#contactContainer input {
  width: 150px;
}

#childNames {
  margin-bottom: .5em;
}

.contactRemove, .childRemove {
  padding: 0 .5em;
  margin: 0em 0 1em .5;
}

#contactAdd, #childAdd {
  padding: 0 .5em;
  margin: 0 0 .5em 0;
}

p {
  margin: 3px;
  color: rgba(0, 0, 0, 0.7);
}

#msg {
  text-align: center;
}
